Lead capture and routing.json
{
  "name": "Lead capture and routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        480
      ],
      "id": "657193fd-010f-4045-ac74-fd75479a8ed0",
      "name": "Webhook",
      "webhookId": "9196df26-397a-4183-9d83-85b38ad11569"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.record.lead_tier }}",
                    "rightValue": "=hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9f1fcf3-c637-4cd5-a78d-10ba693fb60e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": " high"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "faed6ca4-f949-4162-a960-08057dbfb21d",
                    "leftValue": "={{ $json.body.record.lead_tier }}",
                    "rightValue": "=warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0aab829c-0944-47ab-af79-bcb0bd1cb979",
                    "leftValue": "={{ $json.body.record.lead_tier }}",
                    "rightValue": "=nurture",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "low"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -448,
        464
      ],
      "id": "f2f4ea51-8094-4311-abd1-573936591c42",
      "name": "Lead Tier Router"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.record.track }}",
                    "rightValue": "pre",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5255b4ab-5c8f-472e-9847-85342f1001e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pre"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18ca5485-13ec-4f31-a02c-e3a04fd5aa5c",
                    "leftValue": "={{ $json.body.record.track }}",
                    "rightValue": "on",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "on"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        96
      ],
      "id": "b8df59ee-83c8-44ce-bc6b-3b4821530428",
      "name": "hot"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.record.track }}",
                    "rightValue": "pre",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5255b4ab-5c8f-472e-9847-85342f1001e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pre"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18ca5485-13ec-4f31-a02c-e3a04fd5aa5c",
                    "leftValue": "={{ $json.body.record.track }}",
                    "rightValue": "on",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "on"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        480
      ],
      "id": "b5c79aca-edbb-42b4-aebd-e05a3cf39968",
      "name": "warm"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.record.track }}",
                    "rightValue": "pre",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5255b4ab-5c8f-472e-9847-85342f1001e0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        832
      ],
      "id": "ba8c6f7e-79e5-4f81-8cf0-0f775f856fc7",
      "name": "nurture"
    },
    {
      "parameters": {
        "sendTo": "iliyan.donev@proton.me",
        "subject": "=ПРИОРИТЕТ Нов лийд [on-market]:  {{ {hot: 'ГОРЕЩ', warm: 'ТОПЪЛ', nurture: 'СТУДЕН'}[$json.body.record.lead_tier] || $json.body.record.lead_tier }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n\n  <h2 style=\"background: #c0392b; color: white; padding: 16px; margin: 0;\">\n    ПРИОРИТЕТ — Нов лийд: {{ {hot: 'ГОРЕЩ', warm: 'ТОПЪЛ', nurture: 'СТУДЕН'}[$json.body.record.lead_tier] || $json.body.record.lead_tier }}\n  </h2>\n\n  <div style=\"padding: 16px; background: #f9f9f9; border-left: 4px solid #e74c3c;\">\n    <strong>Основен риск:</strong> {{ $json.body.record.primary_risk_agent }}\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Контакт</h3>\n    <p><strong>Име:</strong> {{ $json.body.record.name }}</p>\n    <p><strong>Телефон:</strong> {{ $json.body.record.phone }}</p>\n    <p><strong>Имейл:</strong> {{ $json.body.record.email }}</p>\n  </div>\n\n  <div style=\"padding: 16px; background: #f9f9f9;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Оценка</h3>\n    <p><strong>Резултат:</strong> {{ $json.body.record.lead_quality_score }} / 100</p>\n    <p><strong>Категория (готовност на продавача):</strong> {{ $json.body.record.client_tier }}</p>\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Имот</h3>\n    <p><strong>Тип:</strong> {{ $json.body.record.property_type }}</p>\n    <p><strong>Локация:</strong> {{ $json.body.record.location }} {{ $json.body.record.neighborhood }}</p>\n  </div>\n\n  <div style=\"padding: 16px; background: #f9f9f9;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">On-market детайли</h3>\n    <p><strong>Оферти:</strong> {{ $json.body.record.om_offers }}</p>\n    <p><strong>Огледи:</strong> {{ $json.body.record.om_viewings }}</p>\n    <p><strong>Ценова стратегия:</strong> {{ $json.body.record.om_price_basis }}</p>\n    <p><strong>Промени:</strong> {{ $json.body.record.om_changes }}</p>\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Страхове</h3>\n    <p>{{ $json.body.record.fears }}</p>\n    <p><strong>Бележка от клиента:</strong> {{ $json.body.record.note }}</p>\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "5dced23b-3b8a-4e34-826d-08f47f2a5be2",
      "name": "On-market hot lead email",
      "webhookId": "e3362829-26d8-4b30-9994-2d39c476470f",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkI6mg358SoinSEp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "iliyan.donev@proton.me",
        "subject": "=ПРИОРИТЕТ Нов лийд [pre-market]:  {{ {hot: 'ГОРЕЩ', warm: 'ТОПЪЛ', nurture: 'СТУДЕН'}[$json.body.record.lead_tier] || $json.body.record.lead_tier }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n\n  <h2 style=\"background: #c0392b; color: white; padding: 16px; margin: 0;\">\n    ПРИОРИТЕТ — Нов лийд: {{ {hot: 'ГОРЕЩ', warm: 'ТОПЪЛ', nurture: 'СТУДЕН'}[$json.body.record.lead_tier] || $json.body.record.lead_tier }}\n  </h2>\n\n  <div style=\"padding: 16px; background: #f9f9f9; border-left: 4px solid #e74c3c;\">\n    <strong>Основен риск:</strong> {{ $json.body.record.primary_risk_agent }}\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Контакт</h3>\n    <p><strong>Име:</strong> {{ $json.body.record.name }}</p>\n    <p><strong>Телефон:</strong> {{ $json.body.record.phone }}</p>\n    <p><strong>Имейл:</strong> {{ $json.body.record.email }}</p>\n  </div>\n\n  <div style=\"padding: 16px; background: #f9f9f9;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Оценка</h3>\n    <p><strong>Резултат:</strong> {{ $json.body.record.lead_quality_score }} / 100</p>\n    <p><strong>Категория (готовност на продавача):</strong> {{ $json.body.record.client_tier }}</p>\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Имот</h3>\n    <p><strong>Тип:</strong> {{ $json.body.record.property_type }}, {{ $json.body.record.construction_type }}</p>\n    <p><strong>Локация:</strong> {{ $json.body.record.location }} {{ $json.body.record.neighborhood }}</p>\n  </div>\n\n  <div style=\"padding: 16px; background: #f9f9f9;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Pre-market детайли</h3>\n    <p><strong>Времева рамка:</strong> {{ $json.body.record.pm_timeline }}</p>\n    <p><strong>Ценова стратегия:</strong> {{ $json.body.record.pm_price_strategy }}</p>\n    <p><strong>Документи:</strong> {{ $json.body.record.pm_docs }}</p>\n    <p><strong>Приоритет:</strong> {{ $json.body.record.pm_priority }}</p>\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Страхове</h3>\n    <p>{{ $json.body.record.fears }}</p>\n    <p><strong>Бележка от клиента:</strong> {{ $json.body.record.note }}</p>\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c2411faa-e41d-4a63-86f0-0a4d3598eeb9",
      "name": "Pre-market hot lead email",
      "webhookId": "e3362829-26d8-4b30-9994-2d39c476470f",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkI6mg358SoinSEp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "iliyan.donev@proton.me",
        "subject": "=Нов лийд [pre-market]:  {{ {hot: 'ГОРЕЩ', warm: 'ТОПЪЛ', nurture: 'СТУДЕН'}[$json.body.record.lead_tier] || $json.body.record.lead_tier }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n\n  <h2 style=\"background: #1a1a2e; color: white; padding: 16px; margin: 0;\">\n    Нов лийд — {{ {hot: 'ГОРЕЩ', warm: 'ТОПЪЛ', nurture: 'СТУДЕН'}[$json.body.record.lead_tier] || $json.body.record.lead_tier }}\n  </h2>\n\n  <div style=\"padding: 16px; background: #f9f9f9; border-left: 4px solid #e74c3c;\">\n    <strong>Основен риск:</strong> {{ $json.body.record.primary_risk_agent }}\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Контакт</h3>\n    <p><strong>Име:</strong> {{ $json.body.record.name }}</p>\n    <p><strong>Телефон:</strong> {{ $json.body.record.phone }}</p>\n    <p><strong>Имейл:</strong> {{ $json.body.record.email }}</p>\n  </div>\n\n  <div style=\"padding: 16px; background: #f9f9f9;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Оценка</h3>\n    <p><strong>Резултат:</strong> {{ $json.body.record.lead_quality_score }} / 100</p>\n    <p><strong>Категория (готовност на продавача):</strong> {{ $json.body.record.client_tier }}</p>\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Имот</h3>\n    <p><strong>Тип:</strong> {{ $json.body.record.property_type }}</p>\n    <p><strong>Локация:</strong> {{ $json.body.record.location }} {{ $json.body.record.neighborhood }}</p>\n  </div>\n\n  <div style=\"padding: 16px; background: #f9f9f9;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Pre-market детайли</h3>\n    <p><strong>Времева рамка:</strong> {{ $json.body.record.pm_timeline }}</p>\n    <p><strong>Ценова стратегия:</strong> {{ $json.body.record.pm_price_strategy }}</p>\n    <p><strong>Документи:</strong> {{ $json.body.record.pm_docs }}</p>\n    <p><strong>Приоритет:</strong> {{ $json.body.record.pm_priority }}</p>\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Страхове</h3>\n    <p>{{ $json.body.record.fears }}</p>\n    <p><strong>Бележка от клиента:</strong> {{ $json.body.record.note }}</p>\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        384
      ],
      "id": "c94ee443-74e8-4742-b3c1-85029dee71c4",
      "name": "Pre-market warm lead email",
      "webhookId": "e3362829-26d8-4b30-9994-2d39c476470f",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkI6mg358SoinSEp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "iliyan.donev@proton.me",
        "subject": "=Нов лийд [on-market]:  {{ {hot: 'ГОРЕЩ', warm: 'ТОПЪЛ', nurture: 'СТУДЕН'}[$json.body.record.lead_tier] || $json.body.record.lead_tier }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n\n  <h2 style=\"background: #1a1a2e; color: white; padding: 16px; margin: 0;\">\n    Нов лийд: {{ {hot: 'ГОРЕЩ', warm: 'ТОПЪЛ', nurture: 'СТУДЕН'}[$json.body.record.lead_tier] || $json.body.record.lead_tier }}\n  </h2>\n\n  <div style=\"padding: 16px; background: #f9f9f9; border-left: 4px solid #e74c3c;\">\n    <strong>Основен риск:</strong> {{ $json.body.record.primary_risk_agent }}\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Контакт</h3>\n    <p><strong>Име:</strong> {{ $json.body.record.name }}</p>\n    <p><strong>Телефон:</strong> {{ $json.body.record.phone }}</p>\n    <p><strong>Имейл:</strong> {{ $json.body.record.email }}</p>\n  </div>\n\n  <div style=\"padding: 16px; background: #f9f9f9;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Оценка</h3>\n    <p><strong>Резултат:</strong> {{ $json.body.record.lead_quality_score }} / 100</p>\n    <p><strong>Категория (готовност на продавача):</strong> {{ $json.body.record.client_tier }}</p>\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Имот</h3>\n    <p><strong>Тип:</strong> {{ $json.body.record.property_type }}</p>\n    <p><strong>Локация:</strong> {{ $json.body.record.location }} {{ $json.body.record.neighborhood }}</p>\n  </div>\n\n  <div style=\"padding: 16px; background: #f9f9f9;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">On-market детайли</h3>\n    <p><strong>Оферти:</strong> {{ $json.body.record.om_offers }}</p>\n    <p><strong>Огледи:</strong> {{ $json.body.record.om_viewings }}</p>\n    <p><strong>Ценова стратегия:</strong> {{ $json.body.record.om_price_basis }}</p>\n    <p><strong>Промени:</strong> {{ $json.body.record.om_changes }}</p>\n  </div>\n\n  <div style=\"padding: 16px;\">\n    <h3 style=\"border-bottom: 1px solid #eee; padding-bottom: 8px;\">Страхове</h3>\n    <p>{{ $json.body.record.fears }}</p>\n    <p><strong>Бележка от клиента:</strong> {{ $json.body.record.note }}</p>\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        576
      ],
      "id": "845e30d2-0e6b-432e-9899-46998bbac93e",
      "name": "On-market warm lead email",
      "webhookId": "e3362829-26d8-4b30-9994-2d39c476470f",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkI6mg358SoinSEp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://tkzgggyebjiubqldpywi.supabase.co/rest/v1/leads?id=eq.{{ $('Webhook').item.json.body.record.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "notified_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        288
      ],
      "id": "6ddf89d2-2b38-4b92-8c24-dcd1ddee1629",
      "name": "Mark Notified in DB",
      "credentials": {
        "supabaseApi": {
          "id": "Fp5nFO7aSmJ6nR4w",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lead Tier Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Tier Router": {
      "main": [
        [
          {
            "node": "hot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "warm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nurture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "warm": {
      "main": [
        [
          {
            "node": "Pre-market warm lead email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "On-market warm lead email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hot": {
      "main": [
        [
          {
            "node": "Pre-market hot lead email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "On-market hot lead email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-market hot lead email": {
      "main": [
        [
          {
            "node": "Mark Notified in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On-market hot lead email": {
      "main": [
        [
          {
            "node": "Mark Notified in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-market warm lead email": {
      "main": [
        [
          {
            "node": "Mark Notified in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On-market warm lead email": {
      "main": [
        [
          {
            "node": "Mark Notified in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5002e34-e8f5-40f3-a724-59cf9a50565a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47f0bbbcfc9b7ced450c2c59b30d93f2e688bb0c2962df1e2358b9386fe4858b"
  },
  "id": "KXcJw0AcN5cDkndy",
  "tags": [
    {
      "updatedAt": "2026-06-02T23:02:59.623Z",
      "createdAt": "2026-06-02T23:02:59.623Z",
      "id": "PB2VlymEXnXsTNJh",
      "name": "portfolio"
    }
  ]
}