n8n workflows/Lead Daily Digest.json
{
  "name": "Lead Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1008,
        160
      ],
      "id": "aa8450ca-cde4-486d-a57d-8393213c9289",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://tkzgggyebjiubqldpywi.supabase.co/rest/v1/leads?select=*&lead_tier=eq.nurture&notified_at=is.null",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        160
      ],
      "id": "7364315a-4d6e-438a-850d-acb68123e2f8",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "Fp5nFO7aSmJ6nR4w",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "leads",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -592,
        160
      ],
      "id": "eaf141af-48b0-4aeb-a647-985254c55a79",
      "name": "Aggregate Leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca5cc384-17f1-4b29-a96d-833367a90acc",
              "leftValue": "={{ $json.leads.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        160
      ],
      "id": "0ec7c506-b527-4217-a21d-d23dd6c3c452",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "iliyan.donev@proton.me",
        "subject": "={{ $now.toFormat('dd MMM yyyy') }} - Daily Nurture Lead Digest",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b422235f-51a9-4d49-bebf-745df146c06f",
      "name": "Send a message",
      "webhookId": "c152b218-53d2-4820-b816-7b02b1de5e54",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkI6mg358SoinSEp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.first().json.leads;\n\nconst rows = leads.map(lead => `\n  <tr>\n    <td>${lead.name || '-'}</td>\n    <td>${lead.email || '-'}</td>\n    <td>${lead.phone || '-'}</td>\n    <td>${lead.location || '-'} / ${lead.neighborhood || '-'}</td>\n    <td>${lead.property_type || '-'} | ${lead.construction_type || '-'} | ${lead.area || '-'} sqm</td>\n    <td>${lead.track || '-'}</td>\n    <td>${lead.client_score || '-'}</td>\n    <td>${lead.lead_quality_score || '-'}</td>\n    <td>${lead.primary_risk || '-'}</td>\n    <td>${lead.fears || '-'}</td>\n    <td>${lead.created_at ? new Date(lead.created_at).toLocaleDateString('bg-BG') : '-'}</td>\n  </tr>\n`).join('');\n\nconst html = `\n<h2>Daily Nurture Lead Digest</h2>\n<p>Date: ${new Date().toLocaleDateString('bg-BG')} | Total leads: ${leads.length}</p>\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:sans-serif;font-size:13px;\">\n  <thead>\n    <tr>\n      <th>Name</th>\n      <th>Email</th>\n      <th>Phone</th>\n      <th>Location</th>\n      <th>Property</th>\n      <th>Track</th>\n      <th>Client Score</th>\n      <th>Lead Quality</th>\n      <th>Primary Risk</th>\n      <th>Fears</th>\n      <th>Submitted</th>\n    </tr>\n  </thead>\n  <tbody>\n    ${rows}\n  </tbody>\n</table>\n`;\n\nreturn [{ json: { html, lead_ids: leads.map(l => l.id) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        64
      ],
      "id": "76da1559-859e-4811-8ab2-aa044f48ff0d",
      "name": "Build Digest Body"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lead_ids",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        16,
        272
      ],
      "id": "189801e2-e911-4574-8b2f-2b1f554e912a",
      "name": "Split Lead IDs"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://tkzgggyebjiubqldpywi.supabase.co/rest/v1/leads?id=eq.{{ $json.lead_ids }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notified_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        272
      ],
      "id": "b9ce8403-7d9b-494a-8997-bcb81cf3495d",
      "name": "Mark Leads Notified",
      "credentials": {
        "supabaseApi": {
          "id": "Fp5nFO7aSmJ6nR4w",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Leads": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Build Digest Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Body": {
      "main": [
        [
          {
            "node": "Split Lead IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Lead IDs": {
      "main": [
        [
          {
            "node": "Mark Leads Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ba8356d-56eb-4a02-9d88-e8176b3063c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47f0bbbcfc9b7ced450c2c59b30d93f2e688bb0c2962df1e2358b9386fe4858b"
  },
  "id": "rQvJaLrDdaUJf7dZ",
  "tags": [
    {
      "updatedAt": "2026-06-02T23:02:59.623Z",
      "createdAt": "2026-06-02T23:02:59.623Z",
      "id": "PB2VlymEXnXsTNJh",
      "name": "portfolio"
    }
  ]
}